/*-- MEDIA QUERIES --*/
/*-- 992-1200px col-lg --*/
@media screen and (max-width: 1280px) {
    .container {
        max-width: 97%;
    }
}

/*-- 992-1200px col-lg --*/
@media screen and (max-width: 1200px) {
    .company-info {
        padding: 10px 0;
    }

    .company-brend {
        /* width: 34%; */
        width: 27%;
        flex-direction: column;
        align-items: flex-start;
    }

    .company-brend__slogan {
        width: 100%;
        margin-top: 10px;
    }

    .company-data {
        width: 80%;
    }

    .company-data__address {
        padding-left: 0;
    }

    .nav-menu {
        width: 70%;
        padding-right: 20px;
    }

    .search {
        width: 30%;
        padding: 8px 15px;
        background: #fff;
        border-radius: 30px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        border: 3px solid #67b4eb;
    }

    .nav-menu a {
        font-size: 17px;
    }

    .nav-menu__dropdown_wrap {

        border-top: 17px solid transparent;
    }

    .menu-dropdown_list {
        width: 55%;
    }

    .menu-dropdown_link li {
        width: 18.5%;
    }

    .offer-text {
        width: 69%;
    }

    .type-phone {
        width: 18%;
    }

    .info-about__text {
        padding: 20px;
    }

    .about-form {
        width: 40%;
    }

    .networks {
        margin: 0;
    }

    .footer-menu {
        width: 380px;
        margin: 15px auto 40px;
    }


}

/*-- 768-992px col-lg --*/
@media screen and (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .burger-mobile {
        display: block;
    }

    .nav-bar,
    .company-data {
        display: none;
    }

    .company-brend {
        width: 370px;
        flex-direction: row;
        align-items: center;
    }

    .company-brend__slogan {
        width: 60%;
        margin-top: 0;
    }

    h3 {
        font-size: 25px;
    }

    .offer-text {
        width: 70%;
    }

    .offer-img {
        width: 520px;
    }

    .offer-text .head-subtitle,
    .offer-text .advantages {
        width: 90%;
    }

    .advantages li span:first-child {
        font-size: 14px;
    }

    .advantages li span:last-child {
        font-size: 20px;
    }

    .types-content {
        justify-content: center;
        width: 90%;
    }

    .type-phone {
        width: 23%;
        margin: 1%;
    }

    #lightgallery a {
        width: 25%;
        height: 200px;
    }

    .footer {
        padding: 20px 0px;
    }

    .footer-menu li:before {
        content: '\2022';
        position: absolute;
        right: -30px;
        top: 0;
    }

    .footer a {
        font-size: 12px;
    }


    .footer a i {
        font-size: 16px;
    }

    .copy,
    .confid {
        font-size: 12px;
    }
}

/*-- 575-768px col-lg --*/
@media screen and (max-width: 768px) {
    .offer-img {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 36px;
    }

    .types-content,
    .offer-text .head-subtitle,
    .offer-text {
        width: 100%;
        text-align: center;
    }

    .offer-text .advantages {
        width: 85%;
        margin: 30px auto;
    }

    .about-flex {
        flex-direction: column;
    }

    .info-about {
        width: 100%;
    }

    .info-about__text {
        text-align: center;
        padding: 30px;
    }

    .about-form {
        width: 80%;
        margin: 50px auto 0;
    }

    #lightgallery {
        flex-flow: wrap;
    }

    #lightgallery a {
        width: 50%;
        height: 155px;
    }

    .footer-container {
        width: 65%;
    }

    .footer-menu {
        width: 335px;
    }

    .footer-menu li:before {
        right: -23px;
    }
}

/*-- 420-575px col-lg --*/
@media screen and (max-width: 575px) {
    .logo {
        font-size: 25px;
    }

    .logo span {
        font-size: 15px;
    }

    .company-brend {
        width: 350px;
        align-items: center;
    }

    .burger-mobile {
        margin-right: 12px;
    }

    h1 {
        font-size: 42px;
        line-height: 1.1;
    }

    h2 {
        font-size: 30px;
    }

    .offer-text .advantages {
        width: 100%;
    }

    .advantages li {
        width: 33%;
    }

    .about,
    .types-devices {
        padding: 60px 0 15px;
    }

    .type-phone {
        width: 31%;
    }

    .footer-container {
        width: 95%;
    }

    .modal-window__body {
        width: 95%;
        padding: 20px;
    }

    .close-modal {
        right: 20px;
        top: 20px;
    }

    .networks {
        width: 240px;
        margin: auto;
    }

    .footer a p {
        display: none;
    }

    .footer a i {
        font-size: 19px;
    }

    .footer-menu {
        margin: 25px auto 30px;
    }
}

/*-- 320-420px col-lg --*/
@media screen and (max-width: 413px) {

    h2 {
        line-height: 1.5;
    }

    .logo {
        padding: 7px 17px;
        width: 100px;
        height: 50px;
        font-size: 19px;
    }

    .logo span {
        font-size: 13px;
    }

    .company-brend {
        width: 265px;
    }

    .company-brend__slogan {
        font-size: 11px;
    }

    .burger-mobile {
        margin-right: 16px;
    }

    .burger-menu__nav {
        padding: 65px 0 15px;
    }

    .burger-menu__btn,
    .burger-menu__lines,
    .burger-menu__lines:after,
    .burger-menu__lines:before {
        width: 25px;
    }

    .burger-menu__lines:after {
        top: -8px;
    }

    .burger-menu__lines:before {
        top: 8px;
    }

    .advantages {
        flex-flow: wrap;
        justify-content: center;
    }

    .advantages li {
        width: 100%;
        margin-bottom: 20px;
    }

    .advantages li span:first-child {
        font-size: 17px;
    }

    .advantages li span:last-child {
        font-size: 29px;
    }

    .head-subtitle {
        font-size: 17px;
    }

    .offer-text .head-subtitle {
        margin: 20px 0 25px;
    }

    .offer-text .head-subtitle,
    .offer-text .advantages {
        margin-bottom: 10px;
    }

    .section-title {
        margin-bottom: 35px;
    }

    .type-phone__brend {
        height: 55px;
    }

    .type-phone__brend img {
        width: 80%;
        margin: auto;
    }

    .type-phone span {
        font-size: 15px;
        min-height: 30px;
    }

    .btn {
        width: 100%;
        padding: 15px 15px 17px;
    }

    .info-about__text {
        padding: 30px 11px;
    }

    .about-form {
        width: 95%;
    }

    .input-tel:before {
        top: 4px;
    }

    .footer-menu {
        width: 295px;
    }

    .footer-menu li:before {
        right: -15px;
    }

    .modal-privacy__body {
        height: 70vh;
    }
}