/*-- MEDIA QUERIES --*/
/*-- 992-1200px col-lg --*/
@media screen and (max-width: 1280px) {
    .container {
        max-width: 97%;
    }
}

/*-- 992-1200px col-lg --*/
@media screen and (max-width: 1200px) {
    .company-info {
        padding: 10px 0;
    }

    .company-brend {
        /* width: 34%; */
        width: 27%;
        flex-direction: column;
        align-items: flex-start;
    }

    .company-brend__slogan {
        width: 100%;
        margin-top: 10px;
    }

    .company-data {
        width: 80%;
    }

    .company-data__address {
        padding-left: 0;
    }

    .nav-menu {
        width: 70%;
        padding-right: 20px;
    }

    .search {
        width: 30%;
        padding: 8px 15px;
        background: #fff;
        border-radius: 30px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        border: 3px solid #67b4eb;
    }

    .nav-menu a {
        font-size: 17px;
    }

    .nav-menu__dropdown_wrap {

        border-top: 17px solid transparent;
    }

    .menu-dropdown_list {
        width: 55%;
    }

    .menu-dropdown_link li {
        width: 18.5%;
    }

    .offer-text {
        width: 69%;
    }

    .type-phone {
        width: 18%;
    }

    .info-about__text {
        padding: 20px;
    }

    .about-form {
        width: 40%;
    }

    .networks {
        margin: 0;
    }

    .footer-menu {
        width: 380px;
        margin: 15px auto 40px;
    }

    /* PAGE - IPHONE -- START */
    .section-container {
        width: 85%;
    }

    .page-iphone .offer-text {
        width: 63%;
    }

    .offer-img {
        width: 475px;
    }

    .replacement-content img {
        width: 620px;
    }

    .service-benefits-content__card {
        padding: 0px 15px;
    }

    .iphone-models .types-content {
        justify-content: center;
    }

    .iphone-models .type-phone {
        width: 15%;
        margin: 0.7%;
    }

    .malfunction-table__name {
        width: 20%;
    }

    .malfunction-table__name img {
        margin-right: 20px;
    }

    .malfunction-items span {
        width: 29.6%;
        margin: 0 1% 1.5%;
    }

    .contacts-content__box .btn {
        padding: 19px 25px;
    }


    /* PAGE - IPHONE -- END*/
}

/*-- 768-992px col-lg --*/
@media screen and (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .burger-mobile {
        display: block;
    }

    .nav-bar,
    .company-data {
        display: none;
    }

    .company-brend {
        width: 370px;
        flex-direction: row;
        align-items: center;
    }

    .company-brend__slogan {
        width: 60%;
        margin-top: 0;
    }

    h3 {
        font-size: 25px;
    }

    .offer-text {
        width: 70%;
    }

    .offer-img {
        width: 520px;
    }

    .offer-text .head-subtitle,
    .offer-text .advantages {
        width: 90%;
    }

    .advantages li span:first-child {
        font-size: 14px;
    }

    .advantages li span:last-child {
        font-size: 20px;
    }

    .types-content {
        justify-content: center;
        width: 90%;
    }

    .type-phone {
        width: 23%;
        margin: 1%;
    }

    #lightgallery a {
        width: 25%;
        height: 200px;
    }

    .footer {
        padding: 20px 0px;
    }

    .footer-menu li:before {
        content: '\2022';
        position: absolute;
        right: -30px;
        top: 0;
    }

    .footer a {
        font-size: 12px;
    }


    .footer a i {
        font-size: 16px;
    }

    .copy,
    .confid {
        font-size: 12px;
    }

    /* PAGE - IPHONE -- START */
    .section-title {
        width: 95%;
    }

    .page-iphone .offer-text {
        width: 100%;
        text-align: center;
    }

    .page-iphone .offer-text .head-subtitle {
        margin: 20px auto 25px;
    }

    .offer-text .advantages {
        width: 75%;
        margin: 20px auto 45px;
    }

    .offer-text__box {
        width: 75%;
        margin: auto;
    }

    .page-iphone .offer-img {
        bottom: -85px;
    }

    .offer-img {
        width: 400px;
    }

    .page-iphone .offer-img {
        bottom: -85px;
        right: 50%;
        transform: translate(50%)
    }

    .page-iphone .offer-text {
        padding: 60px 0 200px;
    }

    .reviews-content,
    .repl-stages-content {
        width: 100%;
    }

    .replacement-content img {
        width: 485px;
    }

    .repl-stages-card:nth-child(odd) {
        margin-right: auto;
        margin-left: unset;
    }

    .repl-stages-card:nth-child(even) .repl-stages-card__img {
        order: 0;
        margin-left: 0;
        margin-right: 43px;
    }

    .repl-stages-card:nth-child(even) .repl-stages-card__img span {
        right: -15px;
        left: unset;
    }

    .repl-stages-card:nth-child(even) .repl-stages-card__img:before {
        right: 0;
    }

    .service-benefits-content {
        flex-flow: wrap;
    }

    .service-benefits-content__card {
        width: 50%;
    }

    .service-benefits-content__card:nth-child(2)::before {
        display: none;
    }

    .battery-replacement-content__list {
        width: 50%;
    }

    .iphone-models .type-phone {
        width: 22%;
    }

    .section-container {
        width: 90%;
    }

    .tools-tabs_content {
        order: 2;
    }

    .tools-repair-content {
        flex-direction: column;
    }

    .tools-tabs_content,
    .tools-tabs {
        width: 80%;
        margin: auto;
    }

    .tools-tabs__item,
    .tools-tabs p {
        text-align: center;
    }

    .tools-repair-tab_content img {
        height: 280px;
        object-fit: contain;
    }

    .malfunction-table__name {
        width: 25%;
    }

    .repair-info {
        flex-direction: column;
    }

    .repair-info__text {
        width: 100%;
        text-align: center;
    }

    .repair-info__img {
        width: 75%;
        height: 230px;
        overflow: hidden;
        position: relative;
    }

    .repair-info__img img {
        position: absolute;
    }

    .reviews-card {
        position: relative;
    }

    .reviews-card__rating {
        position: absolute;
        z-index: 2;
        right: 35px;
        top: 3px;
        width: auto;
    }

    .reviews-card__text {
        width: 95%;
        margin: auto;
    }

    .reviews-card:nth-child(even) .reviews-card__text:after,
    .reviews-card__text:before {
        display: none;
    }

    .contacts-content__box .company-data {
        display: block;
    }

    .contacts-content {
        flex-flow: wrap;
    }

    .contacts-content__box {
        width: 50%;
    }

    .contacts-content__box:last-child {
        width: 50%;
        margin: 0 auto 30px;
    }

    /* PAGE - IPHONE -- END*/
}

/*-- 575-768px col-lg --*/
@media screen and (max-width: 768px) {
    .offer-img {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 36px;
    }

    .types-content,
    .offer-text .head-subtitle,
    .offer-text {
        width: 100%;
        text-align: center;
    }

    .offer-text .advantages {
        width: 85%;
        margin: 30px auto;
    }

    .about-flex {
        flex-direction: column;
    }

    .info-about {
        width: 100%;
    }

    .info-about__text {
        text-align: center;
        padding: 30px;
    }

    .about-form {
        width: 80%;
        margin: 50px auto 0;
    }

    #lightgallery {
        flex-flow: wrap;
    }

    #lightgallery a {
        width: 50%;
        height: 155px;
    }

    .footer-container {
        width: 65%;
    }

    .footer-menu {
        width: 335px;
    }

    .footer-menu li:before {
        right: -23px;
    }

    /* PAGE - IPHONE -- START */
    h2 {
        font-size: 34px;
    }

    .section-subtitle {
        font-size: 21px;
    }

    .offer-text__box {
        width: 100%;
        flex-direction: column;
    }

    .sale-price-border {
        margin-bottom: 25px;
    }

    .offer-img_block {
        display: block;
    }

    .replacement-content img {
        width: 80%;
    }

    .replacement-advantages__box {
        font-size: 35px;
    }

    .repl-stages-card:nth-child(even),
    .repl-stages-card {
        width: 100%;
    }

    .leave-request_form {
        width: 100%;
        flex-direction: column;
    }

    .leave-request_form .btn {
        width: 300px;
        margin-top: 25px;
    }

    .malfunction-items span {
        width: 46.6%;
        margin: 0 1% 2.5%;
    }

    .malfunction-table__name {
        display: block;
        text-align: center;
    }

    .malfunction-table__name img {
        margin: auto;
    }

    .reviews .section-subtitle {
        width: 90%;
    }

    .reviews-persona {
        width: 70%;
    }

    .contacts-content__box:last-child {
        width: 75%;
    }

    .modal-video__body iframe {
        width: 98vw !important;
        height: 65vh !important;
    }

    .battery-replacement-content__list {
        width: 45%;
    }

    .iphone-models .type-phone {
        min-height: 135px;
    }

    .iphone-models .type-phone span:last-child {
        font-size: 24px;
    }

    .contacts .leave-request_form {
        width: 100%;
    }

    .data-icon {
        margin-left: 7px;
    }

    /* PAGE - IPHONE -- END*/
}

/*-- 420-575px col-lg --*/
@media screen and (max-width: 575px) {
    .logo {
        font-size: 25px;
        padding: 7px 24px;
    }

    .logo span {
        font-size: 15px;
    }

    .company-brend {
        width: 350px;
        align-items: center;
    }

    .burger-mobile {
        margin-right: 12px;
    }

    h1 {
        font-size: 42px;
        line-height: 1.1;
    }

    h2 {
        font-size: 30px;
    }

    .offer-text .advantages {
        width: 100%;
    }

    .advantages li {
        width: 33%;
    }

    .about,
    .types-devices {
        padding: 60px 0 15px;
    }

    .type-phone {
        width: 31%;
    }

    .footer-container {
        width: 95%;
    }

    .modal-window__body {
        width: 95%;
        padding: 20px;
    }

    .close-modal {
        right: 20px;
        top: 20px;
    }

    .networks {
        width: 240px;
        margin: auto;
    }

    .footer a p {
        display: none;
    }

    .footer a i {
        font-size: 19px;
    }

    .footer-menu {
        margin: 25px auto 30px;
    }

    /* PAGE - IPHONE -- START */
    h2 {
        font-size: 28px;
    }

    .section-title {
        margin: 0 auto 35px;
    }

    .section-subtitle {
        margin: 0px auto 75px;
        font-size: 19px;
        width: 99%;
    }

    .replacement-advantages__box {
        font-size: 28px;
    }

    .replacement-advantages__box span {
        font-size: 13px;
        margin-top: 10px;
        padding-top: 10px;
    }

    .replacement-advantages {
        margin: 30px 0 35px;
    }

    .repl-stages-card__img {
        max-width: 100px;
        height: 100px;
    }

    .repl-stages-card__img span {
        font-size: 25px;
    }

    .repl-stages-card:nth-child(odd) .repl-stages-card__img span {
        right: -7px;
    }

    .repl-stages-card__img span:before {
        left: -10px;
        width: 35px;
        height: 35px;
    }

    .repl-stages-card:nth-child(even) .repl-stages-card__img span {
        right: -7px;
    }

    .repl-stages-card:first-child .repl-stages-card__img:before {
        bottom: -160px;
        left: 100px;
        height: 180px;
    }

    .repl-stages-card:nth-child(even) .repl-stages-card__img:before {
        height: 150px;
        bottom: -135px;
    }

    .repl-stages-card:nth-child(odd) .repl-stages-card__img:before {
        height: 160px;
        bottom: -135px;
        left: 99px;
    }

    .repl-stages-card__text p:first-child {
        font-size: 16px;
    }

    .repl-stages-card__text p {
        font-size: 14px;
    }

    .repl-stages-card__text .btn {
        padding: 16px 35px;
    }

    .repl-stages-card:first-child {
        margin-bottom: 25px;
    }

    .repl-stages-card {
        min-height: 230px;
    }

    .service-benefits-content__card {
        width: 100%;
        padding-bottom: 40px;
    }

    .service-benefits-content__card:before {
        width: 90%;
        height: 2px;
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }

    .service-benefits-content__card:nth-child(2)::before {
        display: block;
    }

    .battery-replacement-content__list li span::before {
        width: 24px;
        height: 24px;
    }

    .svg-icon_check {
        width: 15px;
        margin-top: 0px;
        display: block;
        margin-left: -3px;
    }

    .battery-replacement-content__list li {
        font-size: 18px;
        min-height: 85px;
        margin-bottom: 25px;
    }

    .iphone-models .type-phone {
        width: 23%;
        min-height: 100px;
        padding: 5px 10px;
    }

    .type-phone span {
        font-size: 14px;
        color: #9c9c9c;
        min-height: 30px;
    }

    .iphone-models .type-phone span:last-child {
        font-size: 18px;
        color: #000;
    }

    .price-list .leave-request {
        margin-top: 60px;
    }

    .table tbody td {
        font-size: 17px;
    }

    .table tbody td span {
        font-size: 13px;
    }

    .tools-repair-tab_content img {
        height: 190px;
    }

    .reviews,
    .malfunction,
    .tools-repair,
    .price-list,
    .battery-replacement,
    .service-benefits,
    .replacement-stages {
        padding: 50px 0 70px;
    }

    .malfunction-table {
        margin-top: 50px;
    }

    .malfunction-table__item {
        flex-direction: column;
        text-align: center;
        margin: 30px auto 20px;
        align-items: center;
        padding-bottom: 10px;
    }

    .malfunction-table__name {
        margin-bottom: 25px;
    }

    .malfunction-items {
        width: 95%;
    }

    .malfunction-items span {
        width: 24.6%;
        min-height: 85px;
        align-items: baseline;
        padding-top: 12px;
    }

    .malfunction-items span a {
        font-size: 13px;
        padding: 15px 0;
    }

    .sticker-hit {
        font-size: 12px;
        top: -12px;
        right: unset;
        left: 20px;
    }

    .sticker-hit:before {
        width: 45px;
        height: 23px;
        border-radius: 50px;
        top: -8px;
        left: -14px;
    }

    .repair-info__img img {
        top: 60px;
    }

    .repair-info {
        margin-top: 0px;
    }

    .reviews .section-subtitle {
        font-size: 17px;
        width: 100%;
        margin-bottom: 45px;
    }

    .reviews-card__text {
        padding: 15px;
    }

    .reviews-card__rating {
        padding-top: 17px;
        right: 20px;
    }

    .reviews-card {
        margin-bottom: 30px;
    }

    .phone-big {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 30px;
    }

    .contacts-content__box {
        width: 85%;
        margin: auto;
    }

    .contacts-content__box .company-data .company-data__address {
        padding-right: 0;
        min-height: 170px;
    }

    .address-block_data {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 10px;
    }

    .address-block p {
        margin-top: 7px;
        font-size: 12px;
    }

    .address-block_data p {
        margin: 0;
    }

    .contacts-content__box .company-data .address-block span {
        font-size: 17px;
    }

    .contacts-content__box .btn {
        padding: 15px 25px;
    }

    .contacts-content__box:last-child {
        width: 85%;
    }

    .contact-copy p {
        font-size: 11px;
    }

    /* PAGE - IPHONE -- END*/
}

/*-- 320-420px col-lg --*/
@media screen and (max-width: 413px) {

    h2 {
        line-height: 1.5;
    }

    .logo {
        padding: 7px 17px;
        width: 100px;
        height: 50px;
        font-size: 19px;
    }

    .logo span {
        font-size: 13px;
    }

    .company-brend {
        width: 265px;
    }

    .company-brend__slogan {
        font-size: 11px;
    }

    .burger-mobile {
        margin-right: 16px;
    }

    .burger-menu__nav {
        padding: 65px 0 15px;
    }

    .burger-menu__btn,
    .burger-menu__lines,
    .burger-menu__lines:after,
    .burger-menu__lines:before {
        width: 25px;
    }

    .burger-menu__lines:after {
        top: -8px;
    }

    .burger-menu__lines:before {
        top: 8px;
    }

    .advantages {
        flex-flow: wrap;
        justify-content: center;
    }

    .advantages li {
        width: 100%;
        margin-bottom: 20px;
    }

    .advantages li span:first-child {
        font-size: 17px;
    }

    .advantages li span:last-child {
        font-size: 29px;
    }

    .head-subtitle {
        font-size: 17px;
    }

    .offer-text .head-subtitle {
        margin: 20px 0 25px;
    }

    .offer-text .head-subtitle,
    .offer-text .advantages {
        margin-bottom: 10px;
    }

    .section-title {
        margin-bottom: 35px;
    }

    .type-phone__brend img {
        width: 80%;
        margin: auto;
    }

    .type-phone span {
        font-size: 15px;
        min-height: 30px;
    }

    .btn {
        width: 100%;
        padding: 15px 15px 17px;
    }

    .info-about__text {
        padding: 30px 11px;
    }

    .about-form {
        width: 95%;
    }

    .footer-menu {
        width: 295px;
    }

    .footer-menu li:before {
        right: -15px;
    }

    .modal-privacy__body {
        height: 74vh;
    }

    /* PAGE - IPHONE -- START */
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 25px;
    }

    .section-title {
        width: 100%;
    }

    .section-subtitle {
        font-size: 17px;
        margin: 0px auto 55px;
    }

    .reviews,
    .malfunction,
    .tools-repair,
    .price-list,
    .replacement,
    .about,
    .types-devices {
        padding: 50px 0 35px;
    }

    .offer-img {
        width: 100%;
    }

    .page-iphone .offer-img {
        bottom: -50px;
    }

    .replacement-advantages {
        flex-direction: column;
        align-items: center;
    }

    .replacement-advantages__box {
        /* font-size: 52px; */
        width: 100%;
    }

    .replacement-advantages__box:first-child {
        order: 2;
        margin-top: 25px;
    }

    .repl-stages-card__text .btn,
    .replacement-content .btn {
        padding: 15px 10px;
    }

    .repl-stages-card__img {
        max-width: 75px;
        height: 75px;
    }

    .repl-stages-card:nth-child(odd) .repl-stages-card__img:before {
        height: 230px;
        bottom: -210px;
        left: 75px;
    }

    .repl-stages-card:nth-child(even) .repl-stages-card__img:before {
        height: 175px;
        bottom: -160px;
    }

    .repl-stages-card:nth-child(odd) .repl-stages-card__img:before {
        height: 185px;
        bottom: -163px;
    }

    .repl-stages-card:nth-child(even) .repl-stages-card__img,
    .repl-stages-card:nth-child(odd) .repl-stages-card__img {
        margin-right: 25px;
    }

    .repl-stages-card__text p {
        margin-bottom: 10px;
    }

    .btn-video {
        padding-left: 60px;
        font-size: 16px;
    }

    .svg-icon_video {
        width: 25px;
        top: 14px;
    }

    .battery-replacement-content {
        flex-direction: column;
    }

    .battery-replacement-content__list {
        width: 100%;
    }

    .battery-replacement-content__list li {
        min-height: 55px;
        margin-bottom: 10px;
    }

    .type-phone span {
        font-size: 13px;
        min-height: 20px;
    }

    .iphone-models .type-phone span:last-child {
        font-size: 15px;
    }

    .iphone-models .type-phone {
        min-height: 80px;
        padding: 5px 5px;
    }

    .table {
        margin-bottom: 25px;
    }

    .table thead th {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .table tbody td:last-child {
        /* font-size: 17px; */
        width: 110px;
        text-align: end;
    }

    .leave-request_form .btn,
    .leave-request_form .input {
        width: 100%;
    }

    .tools-tabs_content,
    .tools-tabs {
        width: 100%;
    }

    .malfunction-items span {
        width: 29.4%;
    }

    .repair-info__img {
        height: 150px;
    }

    .repair-info__img img {
        top: 10px;
    }

    .contacts-content__box:last-child,
    .contacts-content__box {
        width: 98%;
    }

    /* PAGE - IPHONE -- END*/
}