.page-iphone .bg-offer_2 {
    background: #f3f3f3;
}

.page-iphone {
    color: #000000;
}

.page-iphone .offer-text {
    width: 50%;
    padding: 60px 0 65px;
}

.page-iphone .offer-text .head-subtitle {
    margin: 20px 0 25px;
}

.page-iphone .offer-img {
    bottom: 0;
    right: -15px;
}

.offer-text__box {
    width: 94%;
}

.sale-price {
    border: 2px solid red;
    padding: 10px 19px;
    background: transparent;
    font-size: 28px;
    font-family: 'FuturaPT 700', sans-serif;
}

.page-iphone .btn {
    padding: 15px 55px;
}

/* --- REPLACEMENT --- */
.section-title span {
    color: #2b88ca;
}

.section-subtitle {
    font-size: 24px;
    font-family: 'FuturaPT 700', sans-serif;
    text-align: center;
    margin: -35px 0 75px;
}

.replacement-advantages {
    margin: 50px 0 65px;
}

.replacement-content img {
    width: 790px;
}

.replacement-advantages__box {
    color: #000;
    font-size: 52px;
    text-align: center;
    font-weight: 700;
    width: 45%;

}

.replacement-advantages__box span {
    font-size: 15px;
    font-weight: 400;
    border-top: 1px solid #ccc;
    margin-top: 25px;
    padding-top: 15px;
}

.replacement-content .btn {
    margin: auto;
    display: block;
    padding: 15px 55px;
}

/* --- REPLACEMENT - STAGES --- */
.replacement-stages {
    background: #f3f3f3;
    padding-top: 100px;
}

.replacement-stages .section-container {
    width: 940px;
}

.repl-stages-card {
    width: 655px;
    position: relative;
    margin-bottom: 20px;
    min-height: 250px;
}

.repl-stages-card:first-child {
    margin-bottom: 45px;
}

.repl-stages-card:nth-child(odd) {
    margin-left: auto;
}

.repl-stages-card:nth-child(even) {
    margin-right: auto;
    width: 583px;
}

.repl-stages-card:nth-child(even) .repl-stages-card__img {
    order: 2;
    margin-left: 35px;
}

.repl-stages-card:nth-child(odd) .repl-stages-card__img {
    margin-right: 35px;
}

.repl-stages-card__img {
    max-width: 150px;
    height: 150px;
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.repl-stages-card__img img {
    object-fit: cover;
}

.repl-stages-card:nth-child(odd) .repl-stages-card__img:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 120px;
    background: #d9d9d9;
    bottom: -110px;
    left: 150px;
}

.repl-stages-card:nth-child(even) .repl-stages-card__img:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 120px;
    background: #d9d9d9;
    bottom: -110px;
    right: 150px;
}

.repl-stages-card:first-child .repl-stages-card__img:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #d9d9d9;
    bottom: -120px;
    left: 150px;
}

.repl-stages-card:last-child .repl-stages-card__img:before {
    display: none;
}

.repl-stages-card__img span {
    color: #ffffff;
    font-size: 39px;
    font-family: 'FuturaPT 700', sans-serif;
    position: absolute;
    z-index: 1;
}

.repl-stages-card__img span:before {
    content: '';
    position: absolute;
    top: 0;
    left: -13px;
    width: 50px;
    height: 50px;
    background: #2b88ca;
    border-radius: 50%;
    z-index: -1;
}

.repl-stages-card:nth-child(even) .repl-stages-card__img span {
    left: -15px;
}

.repl-stages-card:nth-child(odd) .repl-stages-card__img span {
    right: -15px;
}

.repl-stages-card__text {
    width: 70%;
}

.repl-stages-card__text p {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 22px;
}

.repl-stages-card__text p:first-child {
    font-size: 20px;
    font-family: 'FuturaPT 700', sans-serif;
}

.replacement-stages .btn {
    margin: auto;
    display: block;
    position: relative;
    padding-left: 70px;
    padding-right: 30px;
    margin-top: -30px;
}

.replacement-stages .btn i {
    font-size: 30px;
    position: absolute;
    left: 25px;
    top: 15px;
    color: #ffffffe6;
}

/* --- SERVICES - BENEFITS --- */
.service-benefits {
    background-color: #2b88ca;
    color: #fff;
}

.service-benefits-content__card {
    width: 25%;
    text-align: center;
    position: relative;
    padding: 0 40px;
    margin-top: 35px;
}

.service-benefits-content__card:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #ffffff85;
    top: 0;
    right: 0;
}

.service-benefits-content__card:last-child:before {
    display: none;
}

.service-benefits-number {
    font-size: 30px;
}

.service-benefits-content__card span {
    font-size: 26px;
    font-family: 'FuturaPT 700', sans-serif;
    margin-bottom: 15px;
}

.service-benefits-content__card p {
    line-height: 1.5;
}

/* --- SERVICES - BENEFITS --- */
.battery-replacement-content__list li {
    font-size: 20px;
    font-family: 'FuturaPT 700', sans-serif;
    margin-bottom: 40px;
}

.battery-replacement-content__list li span {
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
}

.battery-replacement-content__list li span::before {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px;
    background: #2b88ca;
    border-radius: 50%;
    top: -6px;
    left: -8px;
    z-index: -1;
}

/* --- iPHONE - MODELS --- */
.iphone-models {}

.iphone-models .types-content {
    width: 100%;
}

.iphone-models .type-phone {
    width: 13%;
    min-height: 150px;
    justify-content: end;
}

.iphone-models .type-phone span:last-child {
    font-size: 30px;
    margin-top: 10px;
}

/* --- PRICE - LIST --- */
.table {
    font-family: 'FuturaPT 700', sans-serif;
    width: 100%;
    margin-bottom: 50px;
}

.table thead th {
    font-size: 24px;
    color: #2b88ca;
    text-align: start;
    margin-bottom: 35px;
    display: block;
}

.table tbody tr {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.table tbody td {
    font-size: 22px;
}

.table tbody td span {
    color: #8a8a8a;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
}

.leave-request_form {
    width: 640px;
    margin: auto;
}

.leave-request_form .input input {
    padding-left: 15px;
}

.leave-request_form .input {
    width: 290px;
    margin-bottom: 0;
}

.leave-request_form .btn {
    padding: 17px 45px;
}

/* --- TOOLS - REPAIR --- */
.tools-repair {
    background: #f3f3f3;
}

.tools-repair-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tools-tabs_content {
    background: #fff;
    border-radius: 50px;
    padding: 20px;
    margin-right: 50px;
}

.tools-tabs_content,
.tools-tabs {
    width: 50%;
}

.tools-tabs p {
    line-height: 1.5;
    margin-bottom: 25px;
}

.tools-tabs__item {
    margin-bottom: 10px;
}

.tools-tabs__item span {
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    font-family: 'FuturaPT 700', sans-serif;
    border-radius: 5px;
    transition: .2s;
}

.tools-tabs__item span:hover,
.tools-tabs__item.is-active span {
    background: #2b88ca;
    color: #fff;
    transition: .3s;
}

.tools-repair-tab_content {
    display: none;
}

.tools-repair-tab_content.is-active {
    display: block;
}







.price-list {
    padding-bottom: 513px;
}


/* --- MALFUNCTION --- */
.malfunction-table {
    margin-top: 112px;
}

/* .malfunction-table tbody tr {
    flex-flow: wrap;
    justify-content: start;
}

.malfunction-table tbody tr td {
    width: 21.75%;
    font-size: 16px;
    background: #f3f3f3;
}

.malfunction-table tbody tr td:first-child {
    width: 25.5%;
    font-size: 20px;
} */
.malfunction-table__name,
.malfunction-table__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.malfunction-table__item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}

.malfunction-table__name {
    width: 20%;
}

.malfunction-table__name img {
    width: 40px;
    height: 34px;
}

.malfunction-items {
    width: 80%;
}

.malfunction-items a {
    padding: ;
}