@charset "UTF-8";

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.container {
  /* border: 1px solid red; */
  max-width: 1170px;
  margin: auto;
}

.section-container {
  width: 70%;
  margin: auto;
}

div,
p,
form,
input,
a,
span,
button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

span {
  display: block;
}

img {
  width: 100%;
  display: block;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'FuturaPT 700', sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 32px;
}

button {
  border: none;
}

button:focus {
  outline: none;
  box-shadow: 0px 5px 7px rgba(0, 163, 255, 0.4);
}

header {
  flex-grow: 1;
}


.over-hid {
  overflow: hidden;
}

.pos-rel {
  position: relative;
}

.color-blue {
  color: #2b88ca;
}

/* модальное окно для всех*/
.modal-window_burger,
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: 9;
}

.modal-window__body {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 530px;
  padding: 30px;
  color: #000;
  min-height: 30%;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, .7);

  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

/* появление модального окна по клику js */
.modal-overlay-show {
  opacity: 1;
  visibility: visible;
  transition: .5s;
  z-index: 999;
}

.modal-body-show {
  opacity: 1;
  top: 50%;
  visibility: visible;
  transition: .5s;
}

/* появление модального окна по клику js */
/* крестик для закрытие модального окна по крестику */
.close-modal {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 35px;
  top: 35px;
  cursor: pointer;
}

.close-modal:after,
.close-modal:before {
  content: '';
  position: absolute;
  width: 35px;
  height: 2px;
  background: #fff;
  top: 17px;
}

.close-modal:after {
  transform: rotate(-45deg);
  left: 0;
}

.close-modal:before {
  transform: rotate(45deg);
  right: 0;
}

/* кнопка */
.btn {
  color: #fff;
  font-family: 'FuturaPT 700', sans-serif;
  font-size: 18px;
  padding: 19px 55px;
  background: #2b88ca;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.btn:hover {
  color: #fff;
  box-shadow: 0px 5px 7px rgba(0, 163, 255, 0.4);
  transition: 1s;
}

/* блик кнопки при наведении */
.btn:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -150px;
  width: 50px;
  height: 100px;
  background: linear-gradient(90deg, rgb(250, 250, 250, .4), rgba(250, 250, 250, 0.1));
  transform: skewX(-45deg);
}

.btn:hover:before {
  left: 700px;
  transition: 1.5s;
}

/* флексбокс для классов */
.contacts-content,
.repair-info,
.battery-replacement-content,
.service-benefits-content,
.repl-stages-card,
.replacement-advantages,
.offer-text__box,
.flexbox,
.company-brend,
.company-data,
.navbar,
.nav-menu,
.advantages,
.types-content,
.type-phone,
.about-flex,
.networks,
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.repair-info,
.replacement-advantages,
.offer-text__box,
.flexbox,
.company-brend,
.company-data,
.navbar,
.nav-menu,
.type-phone {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*-- header --*/
.company-info {
  padding: 36px 0;
}

.logo {
  background: #2b88ca;
  color: #fff;
  padding: 7px 19px;
  width: 133px;
  height: 58px;
  font-size: 28px;
  font-family: 'FuturaPT 700', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.logo span {
  font-size: 16px;
  text-transform: none;
  text-align: end;
}

.company-brend {
  width: 380px;
}

.company-brend__slogan {
  width: 58%;
  font-size: 14px;
  line-height: 1;
  font-family: 'FuturaPT 400', sans-serif;
}

.company-data {
  width: 65%;
}

.company-data__address {
  /* width: 25%; */
  /* padding-left: 40px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.address-block span {
  font-family: 'FuturaPT 700', sans-serif;
  font-size: 16px;
}

.address-block a {
  font-size: 13px;
  color: #000;
  margin: 5px 0;
  display: block;
}

.address-block a:hover {
  color: #2b88ca;
}

.data-icon {
  font-family: 'FuturaPT 700', sans-serif;
  font-size: 12px;
  color: #fff;
  margin-right: 15px;
  position: relative;
}

.data-icon:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
  top: -1px;
  right: -4.5px;
}

.data-icon_red:before {
  background: #ef1e25;
}

.data-icon_purple:before {
  background: #b61d8e;
}

.data-icon_grey:before {
  background: #acadaf;
}

/* header menu */
.nav-bar {
  background: #2b88ca;
  padding: 10px 0;
}

.nav-menu {
  width: 64%;
}

.nav-menu a {
  font-family: 'FuturaPT 700', sans-serif;
  color: #fff;
  font-size: 19px;
}

.search {
  width: 300px;
  padding: 8px 15px;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  font-size: 13px;
  color: #a3a3a3;
  border: 3px solid #67b4eb;
}

/* dropdown menu header */
.nav-menu li,
.nav-menu li a {
  position: unset;
}

.nav-menu__dropdown_wrap {
  position: absolute;
  opacity: 0;
  top: 45px;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: 0.4s;
  width: 100%;
  z-index: 99;
  border-top: 14px solid transparent;
}

.nav-menu__dropdown {
  padding: 20px;
  background: #fff;
  align-items: unset;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.menu-dropdown_list {
  width: 65%;
}

.menu-dropdown_link {
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: unset;
  margin: 15px 0;
}

.nav-menu li:hover .nav-menu__dropdown_wrap {
  opacity: 1;
  top: 33px;
  visibility: visible;
  transition: 0.4s;
}

.menu-dropdown_link li {
  background: #f3f3f3;
  border-radius: 4px;
  width: 11.5%;
  margin-bottom: 1.7%;
  margin-right: 1.7%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-dropdown_link li a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  font-family: 'FuturaPT 400', sans-serif;
}

.menu-dropdown_img-wrap {
  min-height: 337px;
}

.menu-dropdown_img {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 325px;
}

.sticker-sale {
  position: absolute;
  left: -105px;
  top: -40px;
  width: 150px;
  height: 150px;
  background: #2b88ca;
  border-radius: 50%;
  border: 5px solid #67b4eb;
  text-align: center;
  font-family: 'FuturaPT 700', sans-serif;
  font-size: 24px;
  color: #fff;
  padding-top: 12px;
  line-height: 1.3;

}

.sticker-sale span {
  margin-top: 8px;
  font-weight: 700;
  font-size: 14px;
}

/* dropdown menu header END */
/* hamburger menu mobile */
.burger-mobile {
  display: none;
}

.burger-menu {
  position: static;
  overflow: hidden;
  transition: .4s;
}

.burger-menu__active .modal-window_burger {
  opacity: 1;
  visibility: visible;
}

.burger-menu__active.burger-menu {
  overflow: visible;
}

.burger-menu__btn {
  width: 40px;
  height: 40px;
  display: block;
  z-index: 99;
  position: relative;
}

.burger-menu__lines,
.burger-menu__lines:after,
.burger-menu__lines:before {
  position: absolute;
  width: 35px;
  height: 3px;
  border-radius: 50px;
  background-color: #434344;
  border-radius: 50px;
}

.burger-menu__lines {
  top: 22px;
  left: 0;
}

.burger-menu__lines:after {
  content: '';
  top: -10px;
}

.burger-menu__lines:before {
  content: '';
  top: 10px;
}

.burger-menu__active .burger-menu__lines {
  background-color: transparent;
}

.burger-menu__active .burger-menu__lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu__active .burger-menu__lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu__active .burger-menu__lines::before,
.burger-menu__active .burger-menu__lines::after,
.burger-menu__lines::before,
.burger-menu__lines::after,
.burger-menu__active .burger-menu__nav,
.burger-menu__nav {
  transition: .4s;
}

.burger-menu__nav {
  position: absolute;
  z-index: 222;
  flex-direction: column;
  opacity: 0.7;
  top: -25rem;
  width: 100%;
  padding: 35px 0 15px;
  background: #FFFDFD;
  box-shadow: 0px 10px 10px rgb(36, 29, 29, .7);
  transition: .9s;
  left: 0;
  right: 0;
  text-align: center;
}

.burger-menu__active .burger-menu__nav {
  top: 0;
  transition: .4s;
  opacity: 1;
}

.burger-menu__nav li a {
  padding: 12px 20px;
  font-family: 'FuturaPT 700', sans-serif;
  color: #2e2e2e;
  display: block;
  font-size: 19px;
  cursor: pointer;
}

.burger-menu__phone {
  margin-top: 35px;
}

.burger-menu__phone,
.burger-menu__phone a {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.burger-menu__active .overlay {
  display: block;
}

/* hamburger menu mobile END */

/* head-offer */
.head-offer {
  position: relative;
  color: #fff;
  font-family: 'FuturaPT 400', sans-serif;
}

.bg-offer_2,
.bg-offer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/home-bg.jpg") no-repeat center/cover;
  z-index: -1;
  overflow: hidden;
}

.offer-img {
  position: absolute;
  bottom: -45px;
  width: 610px;
  right: -45px;
  z-index: -1;
}

.bg-offer:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.60);
  z-index: 1;
}

.offer-text {
  width: 55%;
  padding: 80px 0 40px;
}

.head-subtitle {
  font-size: 18px;
}

.offer-text .head-subtitle {
  width: 90%;
  margin: 20px 0 35px;
}

.advantages {
  align-items: baseline;
  width: 75%;
  margin: 20px 0 45px;
}

.advantages li {
  width: 30%;
  font-family: 'FuturaPT 700', sans-serif;
}

.advantages li span {
  text-align: center;
}

.advantages li span:first-child {
  font-size: 16px;
}

.advantages li span:last-child {
  font-size: 24px;
}

/*-- types-devices --*/
.reviews,
.malfunction,
.tools-repair,
.price-list,
.replacement,
.about,
.types-devices {
  padding: 80px 0 50px;
}

.reviews,
.malfunction,
.tools-repair,
.price-list,
.battery-replacement,
.service-benefits,
.replacement-stages {
  padding: 80px 0 100px;
}

.section-title {
  text-align: center;
  width: 67%;
  margin: 0 auto 65px;
}

.types-content {
  width: 75%;
  margin: auto;
  flex-flow: wrap;
}

.type-phone {
  width: 17%;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 15px;
  flex-direction: column;
  margin-bottom: 3%;
  position: relative;
  overflow: hidden;
  transition: .3s;
  cursor: pointer;
}

.type-phone:hover {
  box-shadow: 0px 4px 8px rgb(122, 122, 122);
  transition: .3s;
  background: #f3f3f399;
}

/* .type-phone__brend {
  height: 80px;
} */

.type-phone span {
  font-size: 20px;
  font-weight: 700;
  min-height: 40px;
  text-align: center;
  align-items: flex-end;
  display: flex;
}

/*-- about --*/
.info-about {
  position: relative;
  border-radius: 25px;
  width: 50%;
  color: #fff;
  font-family: 'FuturaPT 700', sans-serif;
  overflow: hidden;
}

.info-about__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/bg-about.png') no-repeat center /cover;
  z-index: -1;
}

.info-about__bg:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.80);
  z-index: 1;
}

.info-about__text {
  padding: 40px;
}

.info-about__text h3 {
  margin-bottom: 25px;
}

.info-about__text p {
  font-weight: 400;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -- gallery --*/
#lightgallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
}

#lightgallery a {
  width: 25%;
  height: 300px;
  object-fit: cover;
}

#lightgallery a img {
  height: 100%;
  object-fit: cover;
}

/* -- footer --*/
.footer {
  background: #5c5c5c;
  color: #fff;
  padding: 30px 0px;
}

.footer a {
  color: #fff;
  display: flex;
}

.footer a p {
  margin-left: 10px;
}

.footer i {
  font-size: 19px;
}

.footer-container {
  width: 53%;
  margin: auto;
  text-align: center;
}

.networks {
  margin: 0 40px;
}

.footer-menu {
  margin: 15px 130px 55px;
}

.footer-menu li {
  position: relative;
}

.footer-menu li:last-child::before {
  display: none;
}

.footer-menu li:before {
  content: '\2022';
  position: absolute;
  right: -18px;
  top: 0;
}

.copy {
  font-size: 13px;
  margin-bottom: 8px;
  color: #d4d4d4;
}

.confid {
  font-size: 14px;
  border-bottom: 1px solid;
  display: inline-block;
  cursor: pointer;
  color: #d4d4d4;
}

.confid:hover {
  border-bottom: 1px solid transparent;
}

.confid:hover,
.footer-menu li a:hover,
.networks li a:hover {
  color: #73c3fd;
}

/* -- название --*/
/* -- название --*/
/* -- название --*/
/* -- название --*/
/* -- название --*/

/* form select, */
.form {
  text-align: center;
}

.form-title {
  margin-bottom: 20px;
}

.form p,
.btn-form {
  margin-bottom: 15px;
  width: 100%;
  font-size: 16px;
}

.form p {
  font-family: 'FuturaPT 400', sans-serif;
  font-size: 13px;
}

.about-form {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.input input[type=tel] {
  padding-left: 30px;
}

.input input {
  border: none;
  font-size: 15px;
  font-family: 'FuturaPT 400', sans-serif;
  width: 100%;
  letter-spacing: 0.05em;
}

.input-tel {
  position: relative;
}

.input-tel:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 15px;
  background: url('../img/russia-flag.png') no-repeat center /cover;
  left: 0;
  top: 4px;
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, .5);
}

input:focus,
.input:focus,
.select select:focus {
  outline: 0;
  border-color: #0891e621;
}

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}

.input,
.select select {
  display: block;
  margin: auto;
  width: 100%;
}

.select,
.input {
  position: relative;
  margin-bottom: 25px;
}

.input,
.select select {
  border: 3px solid #f3f3f3;
  border-radius: 50px;
  font-family: 'FuturaPT 400', sans-serif;
  color: #575757;
  font-size: 14px;
  padding: 15px 20px;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.about-form .btn {
  width: 100%;
}

/* форма в модальном окне */
.modal-form .input {
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.modal-privacy__body {
  height: 85vh;
  width: 85vw;
  overflow-y: scroll;
}

.privacy-policy h3 {
  font-size: 24px;
  font-weight: 700;
  color: #343434;
  margin-bottom: 20px;
  text-align: center;
}

.privacy-policy p {
  font-size: 17px;
  color: #343434;
  margin-bottom: 10px;
}